<% unless current_user.id == @user.id %>

  <%= link_to @user.follow_count, {controller: :users, action: :follow_list,user_id: @user.id}, method: :get, class: 'user-follow-count' %>
  <span class="follow-count-text">人のフォロー</span>
  <%= link_to @user.followers_count, {controller: :users, action: :follower_list,user_id: @user.id}, method: :get, class: 'user-follow-count' %>
  <span class="follow-count-text">人のフォロワー</span>


  <div id="follow_form">
    <% if current_user.following? @user %>
      <%= link_to "フォローを解除する", {controller: :users,action: :unfollow,user_id: @user.id}, method: :put, class:"btn btn-red50_rsd" %>
    <% else %>
      <%= link_to "フォローする", {controller: :users,action: :follow,user_id: @user.id}, method: :put ,class:"btn btn-red50_rsd" %>
    <% end %>
  </div>
<% end %>