<div class="wrapper">
  <div class="affiliate-header">
    <%= render "affiliate_header" %>
  </div>
  <div class="affiliate-main">
    <%= render "affiliate_main" %>
  </div>
  <div class="affiliate-footer">
    <%= render "affiliate_footer" %>
  </div>
</div>