<head>
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<div class="wrapper">
  <div class="affiliate-header">
    <%= render "affiliate_header" %>
  </div>
  <div class="affiliate-main">
    <%= render "affiliate_main" %>
  </div>
</div>