<div class="show-wrapper">

  <div class="top-wrapper">
    <div class="top-left">
    </div>

    <div class="top-right">
    </div>
  </div>

  <div class="bottom-wrapper">
    <div class="bottom-left">
    </div>

    <div class="bottom-right">
    </div>
  </div>

</div>