/* -------------ここからリセットCSS------------- */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

ol, ul, li {
  list-style: none;
  margin-bottom: 1.5vmin;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* -------------ここまでリセットCSS------------- */

/* -------------情報共有ページ------------- */

.shared-page-wrapper {
  /* background-color: white; */
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* border: 0.2vmin solid #D3D3D3; */
  font-family:"Yu Gothic", "游ゴシック", YuGothic, "游ゴシック体";
}

.shared-page-title {
  /* background-color: white; */
  width: 100%;
  height: 10vh;
  /* border: 0.2vmin solid #D3D3D3; */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.shared-page-title h2 {
  font-size: 5vmin;
  color: white;
  margin-bottom: 1vmin;
  font-weight: 900;
  font-family: 'ヒラギノ明朝 Pro W3', 'Hiragino Mincho Pro', 'Hiragino Mincho ProN', 'HGS明朝E', 'ＭＳ Ｐ明朝', serif;
  color: #DA8E00;
  background: -webkit-linear-gradient(-45deg, #F7DE05, #DA8E00, #EDAC06, #F7DE05, #ECB802, #DAAF08, #B67B03, #DA8E00, #EDAC06, #F7DE05, #ECB802, #EDAC06);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.shared-page-title p {
  font-size: 1.8vmin;
  color: white;
}

.keyword-get-area {
  width: 100%;
  height: 5vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.keyword-get-form {
  display: flex;
  align-items: center;
}

.keyword-message-label {
  font-size: 1.5vmin;
  color: white;
}

.keyword-message {
  font-size: 1.5vmin;
  font-weight: 900;
  width: 30vmin;
  height: 3.8vmin;
  margin-bottom: 1vmin;
}

.keyword-message-btn {
  font-size: 1.5vmin;
  font-weight: 900;
  padding: 0.2vmin 0.4vmin;
  border-radius: 6px;
  font-size: 2vmin;
  opacity: 1;
  background: #ea352d;
  border: 1px solid #ea352d;
  color: #fff;
  box-shadow: 0.4vmin 0.4vmin #8b0000;
}

.keyword-message-btn:active {
  box-shadow: none;
  position: relative;
  top: 0.4vmin;
  left: 0.4vmin;
}

.keyword-message-btn:hover {
  opacity: 0.8;
  cursor: pointer;
  background-color:#ea352d;
}

.text-form, .input-form-btn:focus {
	outline:0;
}

.keyword-message, .keyword-message-btn:focus {
	outline:0;
}

.shared-area-wrapper {
  /* background-color: white; */
  width: calc(100% - 5%);
  height: calc(100% - 40vh);
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0.1vmin solid #00FF99;
}

.shared-area {
  /* background-color: white; */
  width: calc(100% - 5%);
  height: calc(100% - 5%);
  /* border: 0.2vmin solid white; */
  overflow: scroll;
}

.message-text-area {
  width: 100%;
  height: 30%;
  /* color: white; */
  border: 0.2vmin solid #D3D3D3;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px 20px 0 0;
}

.message-text-image {
  width: 95%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.message-text {
  width: 100%;
  height: 85%;
  overflow: scroll;
  font-size: 2.5vmin;
  font-weight: 900;
  // background-color: #e1ce08;
}

.message-image-right {
  width: calc(100% - 65%);
  height: 85%;
  overflow: scroll;
  font-size: 2.5vmin;
  display: flex;
  justify-content: center;
  align-items: center;
  // background-color: aquamarine;
}

.bottom-area {
  /* background-color: white; */
  width: 100%;
  height: 10%;
  display: flex;
  align-items: center;
  margin-bottom: 2vmin;
}

.border-area-left {
  background-color: white;
  width: 50%;
  height: 100%;
  border: 0.2vmin solid #D3D3D3;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0 0 0 20px;
}

.user-name {
  /* color: white; */
  font-size: 2vmin;
  font-weight: 900;
  display: flex;
  justify-content: center;
  align-items: center;
}

.message-user-avatar-image {
  margin-top: 0.5vmin;
  margin-right: 2vmin;
  width:6vmin;
  height: 6vmin;
  border-radius: 50%;
}

.border-area-right {
  background-color: white;
  width: 50%;
  height: 100%;
  border: 0.2vmin solid #D3D3D3;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0 0 20px 0;
}

.ceated-at {
  /* color: white; */
  font-size: 2vmin;
  font-weight: 900;
}

.text-form-area {
  /* background-color: white; */
  width: 100%;
  height: 20vh;
  /* border: 0.2vmin solid #D3D3D3; */
  display: flex;
  justify-content: center;
  align-items: flex-start;
  text-align: center;
}

.text-form-top {
  width: 100%;
  height: calc(100% - 5vh - 10vh);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.image-file {
  font-size: 3vmin;
  font-weight: 900;
  color: white;
  padding: 2vmin 2vmin;
  text-align: center;
  margin-left: 1vmin;
  border-radius: 10px;
  opacity: 1;
  background:#48D1CC;
  border: 1px solid #48D1CC;
  color: #fff;
  box-shadow: 0.6vmin 0.6vmin #5F9EA0;
}

.image-file:active {
  box-shadow: none;
  position: relative;
  top: 0.6vmin;
  left: 0.6vmin;
}

.image-file:hover {
  opacity: 0.8;
  cursor: pointer;
  background-color:#48D1CC;
}

.hidden {
  display: none;
}

img {
  padding: 0.5vmin;
  border:1px solid white;
  margin-left: 2vmin;
  width: 10vmin;
  object-fit: contain;
}

.message-image {
  width: 20vmin;
  height: 13vmin;
  border: 0.3vmin solid black;
  padding: 0.7vmin 1.4vmin;
  box-shadow: 0.8vmin 0.8vmin black;
}

.message-image:active {
  box-shadow: none;
  position: relative;
  top: 0.8vmin;
  left: 0.8vmin;
}

.message-image:hover {
  opacity: 0.6;
}

.text-form {
  width: 60vw;
  height: 10vh;
  margin-top: 1vmin;
  overflow: scroll;
  font-size: 2vmin;
  font-weight: 900;
  margin-bottom: 1vmin;
}

.text-form-bottom {
  width: 100%;
  height: 5vh;
}

.input-form-btn {
  width: 30vw;
  height: 4vh;
  border-radius: 15px;
  font-size: 2.5vmin;
  font-weight: 900;
  opacity: 1;
  background: #ea352d;
  border: 1px solid #ea352d;
  color: #fff;
  box-shadow: 0.6vmin 0.6vmin #8b0000;
}

.input-form-btn:active {
  box-shadow: none;
  position: relative;
  top: 0.6vmin;
  left: 0.6vmin;
}

.input-form-btn:hover {
  opacity: 0.8;
  cursor: pointer;
  background-color:#ea352d;
}

.text-form, .input-form-btn:focus {
	outline:0;
}

/* -------------情報共有ページ------------- */