/* -------------ここからリセットCSS------------- */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
}

blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* -------------ここまでリセットCSS------------- */

@import url('https://fonts.googleapis.com/css?family=Merienda');

body {
  width: 100%;
  height: 100vh;
  background-image: image-url("spaceworld.jpg");
  background-size: 100% 100%;
}

.background {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  z-index: 0;
}

header {
  width: 100%;
  height: 110px;
  position: relative;
  z-index: 1;
}

.site-title {
  display: flex;
  justify-content: center;
  align-items: center;
  direction: column;
}

.site-title:hover {
  opacity: 0.7;
}

.h1-p {
  font-size: 2vmin;
  color: white;
  padding-top: 1vmin;
  text-align: center;
}

/* -------------ログインボタン------------- */

.grid-6 {
  font-family: "Yu Gothic", YuGothic, Verdana, 'Hiragino Kaku Gothic ProN','Hiragino Kaku Gothic Pro', 'ヒラギノ角ゴ Pro W3', 'メイリオ', Meiryo, sans-serif;
  float: right;
}

.btn-box1 {
  font-size: 2vmin;
  color: #00FF99;
  text-decoration: none;
  font-weight: bold;
  position: relative;
  border: 0.3vmin solid #00FF99;
  transition: .4s;
  padding: 1vmin 2vmin;
  margin-right: 1vmin;
}

.btn-box1:hover {
  border: 2px solid transparent;
  color: #FFF;
}

.btn-box1:before, .btn-box1:after {
  width: 100%;
  height: 100%;
  z-index: 3;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  box-sizing: border-box;
  transform: scale(0);
  transition: .2s;
}

.btn-box1:before {
  border-bottom: 0.3vmin solid #FFF;
  border-left: 0.3vmin solid #FFF;
  transform-origin: 100% 0%;
}

.btn-box1:after {
  border-top: 0.3vmin solid #FFF;
  border-right: 0.3vmin solid #FFF;
  transform-origin: 0% 100%;
}

.btn-box1:hover:after,
.btn-box1:hover:before {
  transform: scale(1);
}

.btn-box2 {
  font-size: 2vmin;
  color: red;
  text-decoration: none;
  font-weight: bold;
  position: relative;
  border: 0.3vmin solid red;
  transition: .4s;
  padding: 1vmin 2vmin;
}

.btn-box2:hover {
  border: 0.3vmin solid transparent;
  color: #FFF;
}

.btn-box2:before, .btn-box2:after {
  width: 100%;
  height: 100%;
  z-index: 3;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  box-sizing: border-box;
  transform: scale(0);
  transition: .2s;
}

.btn-box2:before {
  border-bottom: 0.3vmin solid #FFF;
  border-left: 0.3vmin solid #FFF;
  transform-origin: 100% 0%;
}

.btn-box2:after {
  border-top: 0.3vmin solid #FFF;
  border-right: 0.3vmin solid #FFF;
  transform-origin: 0% 100%;
}

.btn-box2:hover:after,
.btn-box2:hover:before {
  transform: scale(1);
}

/* -------------ログインボタン------------- */

.site-title h1 {
  font-size: 10vmin;
  font-family: 'ヒラギノ明朝 Pro W3', 'Hiragino Mincho Pro', 'Hiragino Mincho ProN', 'HGS明朝E', 'ＭＳ Ｐ明朝', serif;
  color: #b8751e;
  background: -webkit-linear-gradient(315deg, #b8751e 0%, #ffce08 37%, #fefeb2 47%, #fafad6 50%, #fefeb2 53%, #e1ce08 63%, #b8751e 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.post {
  text-decoration: none;
  color: white;
}

main {
}

.container {
  width: 100%;
  height: calc(100vh - 110px - 100px);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.container h2 {
  font-size: 3vmin;
  font-weight: 900;
  font-family: 'ヒラギノ明朝 Pro W3', 'Hiragino Mincho Pro', 'Hiragino Mincho ProN', 'HGS明朝E', 'ＭＳ Ｐ明朝', serif;
  color: #DA8E00;
  background: -webkit-linear-gradient(-45deg, #F7DE05, #DA8E00, #EDAC06, #F7DE05, #ECB802, #DAAF08, #B67B03, #DA8E00, #EDAC06, #F7DE05, #ECB802, #EDAC06);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.get-box {
  border-radius: 5px;
  padding: 2vmin;
  z-index: 2;
  margin-bottom: 5vmin;
  background: linear-gradient(135deg, #ccc 0%, #868888 20%, #d8dcdc 34%, white 53%, #ccc 100%);
}

.auto-box {
  border-radius: 5px;
  padding: 2vmin;
  z-index: 2;
  background: linear-gradient(135deg, #ccc 0%, #868888 20%, #d8dcdc 34%, white 53%, #ccc 100%);
  margin-bottom: 10vmin;
}

.keyword-write {
  margin-top: 1vmin;
  width: 40vmin;
  height: 5vmin;
  border-radius: 8px;
}

.keyword-input {
  font-size: 2vmin;
  height: 5vmin;
  border-radius: 8px;
}

.keyword-write, .keyword-input:focus {
  outline: 0;
}

.footer-wrapper {
  display: flex;
  justify-content: center;
  text-align: center;
  text-align: right;
}

.top-page {
  /* font-family: 'Merienda', cursive; */
  position: absolute;
  bottom: 0;
  font-size: 5vmin;
  // padding-bottom: 1vmin;
  font-family: 'ヒラギノ明朝 Pro W3', 'Hiragino Mincho Pro', 'Hiragino Mincho ProN', 'HGS明朝E', 'ＭＳ Ｐ明朝', serif;
}

.top-page:hover {
  opacity: 0.7;
}

.top-page a {
  color:white;
  text-decoration: none;
  font-size: 2vmin;
}

.message-page-link {
  display: flex;
  justify-content: center;
  text-align: center;
}

.message-page-text {
  color: #FFF;
  font-size: 3vmin;
  font-weight: bold;
  padding: 2vmin 4vmin;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  border: 0.1vmin solid transparent;
  outline: 0.1vmin solid;
  outline-color: rgba(255, 255, 255, 0.5);
  outline-offset: 0px;
  text-shadow: none;
  transition: all 1.2s cubic-bezier(0.2, 1, 0.2, 1);
  z-index: 2;
}

.message-page-text:hover {
  border-color: #FFF;
  box-shadow: inset 0 0 3vmin rgba(255, 255, 255, 0.5), 0 0 20px rgba(255, 255, 255, 0.2);
  outline-color: transparent;
  outline-offset: 1.5vmin;
  text-shadow: 0.3vmin 0.3vmin 0.5vmin #000;
}
/* -------------showページ------------- */

.show-wrapper {
  width: 100%;
  height: 100vh;
}

.top-wrapper {
  display: flex;
}

.page-title {
  width: 100%;
  height: calc(10vh - 10px);
  /* background-color: white; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.page-title h2 {
  font-size: 4vmax;
  color: white;
  margin-bottom: 1vmin;
  font-weight: 900;
  font-family: 'ヒラギノ明朝 Pro W3', 'Hiragino Mincho Pro', 'Hiragino Mincho ProN', 'HGS明朝E', 'ＭＳ Ｐ明朝', serif;
  color: #DA8E00;
  background: -webkit-linear-gradient(-45deg, #F7DE05, #DA8E00, #EDAC06, #F7DE05, #ECB802, #DAAF08, #B67B03, #DA8E00, #EDAC06, #F7DE05, #ECB802, #EDAC06);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.top-left {
  width: calc(100% - 50%);
  height: calc(100vh - 50vh - 5vh);
  /* background-color: red; */
}

.top-right {
  width: calc(100% - 50%);
  height: calc(100vh - 50vh - 5vh);
  /* background-color: blue; */
}

.bottom-wrapper {
  display: flex;
}

.bottom-left {
  width: calc(100% - 50%);
  height: calc(100vh - 50vh - 5vh);
  /* background-color: yellow; */
}

.bottom-right {
  width: calc(100% - 50%);
  height: calc(100vh - 50vh - 5vh);
  /* background-color: green; */
}

.scraping-info {
  width: 100%;
  height: calc(100vh - 50vh - 5vh);
  /* background-color: black; */
}

.scraping-info-top {
  width: 100%;
  height: 5vh;
  /* background-color: red; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.scraping-info-title {
  display: flex;
  justify-content: center;
  align-items: center;
}

.scraping-info-title h2 {
  font-size: 2vmax;
  /* border: 1px solid white; */
  padding: 0.5vmin 1vmin;
  color: white;
  margin-bottom: 1vmin;
  font-weight: 900;
  font-family: 'ヒラギノ明朝 Pro W3', 'Hiragino Mincho Pro', 'Hiragino Mincho ProN', 'HGS明朝E', 'ＭＳ Ｐ明朝', serif;
  color: #DA8E00;
  background: -webkit-linear-gradient(-45deg, #F7DE05, #DA8E00, #EDAC06, #F7DE05, #ECB802, #DAAF08, #B67B03, #DA8E00, #EDAC06, #F7DE05, #ECB802, #EDAC06);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.scraping-info-bottom {
  width: 100%;
  height: calc(100vh - 50vh - 5vh - 5vh);
  /* background-color: white; */
  /* border: 1px solid white; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.scraping-info-bottom-flame {
  width: 100%;
  height: calc(100vh - 50vh - 5vh - 5vh);
  /* background-color: black; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.scraping-info-bottom-flame h3 {
  color: white;
  padding: 3%;
  /* border: 1px solid white; */
  font-size: 1vmax;
}

.site-titles {
  /* text-decoration: none; */
  color: #03a9f4;
}

.list {
  padding-bottom: 5px;
}

.site-titles:hover {
  opacity: 0.7;
  color: red;
}

/* -------------showページ------------- */


/* -------------情報共有ページ------------- */

.shared-page-wrapper {
  /* background-color: white; */
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* border: 0.2vmin solid #D3D3D3; */
  font-family:"Yu Gothic", "游ゴシック", YuGothic, "游ゴシック体";
}

.shared-page-title {
  /* background-color: white; */
  width: calc(100% - 5%);
  height: 10vh;
  /* border: 0.2vmin solid #D3D3D3; */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.shared-page-title h2 {
  font-size: 5vmin;
  color: white;
  margin-bottom: 1vmin;
  font-weight: 900;
  font-family: 'ヒラギノ明朝 Pro W3', 'Hiragino Mincho Pro', 'Hiragino Mincho ProN', 'HGS明朝E', 'ＭＳ Ｐ明朝', serif;
  color: #DA8E00;
  background: -webkit-linear-gradient(-45deg, #F7DE05, #DA8E00, #EDAC06, #F7DE05, #ECB802, #DAAF08, #B67B03, #DA8E00, #EDAC06, #F7DE05, #ECB802, #EDAC06);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.shared-page-title p {
  font-size: 1.8vmin;
  color: white;
}

.keyword-get-form {
  display: flex;
  align-items: center;
}

.keyword-message-label {
  font-size: 1.5vmin;
  color: white;
}

.keyword-message {
  font-size: 1.5vmin;
  font-weight: 900;
  width: 30vmin;
  height: 3.8vmin;
  margin-bottom: 1vmin;
}

.keyword-message-btn {
  font-size: 1.5vmin;
  font-weight: 900;
  padding: 0.2vmin 0.4vmin;
  border-radius: 6px;
  font-size: 2vmin;
  opacity: 1;
  background: #ea352d;
  border: 1px solid #ea352d;
  color: #fff;
  box-shadow: 0.4vmin 0.4vmin #8b0000;
}

.keyword-message-btn:active {
  box-shadow: none;
  position: relative;
  top: 0.4vmin;
  left: 0.4vmin;
}

.keyword-message-btn:hover {
  opacity: 0.8;
  cursor: pointer;
  background-color:#ea352d;
}

.text-form, .input-form-btn:focus {
	outline:0;
}

.keyword-message, .keyword-message-btn:focus {
	outline:0;
}

.shared-area-wrapper {
  /* background-color: white; */
  width: calc(100% - 5%);
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0.1vmin solid #00FF99;
}

.shared-area {
  /* background-color: white; */
  width: calc(100% - 5%);
  height: calc(100% - 5%);
  /* border: 0.2vmin solid white; */
  overflow: scroll;
}

.message-text-area {
  width: 100%;
  height: 26%;
  /* color: white; */
  border: 0.2vmin solid #D3D3D3;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px 20px 0 0;
}

.message-text-image {
  width: 95%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.message-text {
  width: 100%;
  height: 85%;
  overflow: scroll;
  font-size: 2.5vmin;
  font-weight: 900;
  // background-color: #e1ce08;
}

.message-image-right {
  width: calc(100% - 65%);
  height: 85%;
  overflow: scroll;
  font-size: 2.5vmin;
  display: flex;
  justify-content: center;
  align-items: center;
  // background-color: aquamarine;
}

.bottom-area {
  /* background-color: white; */
  width: 100%;
  height: 5%;
  display: flex;
  align-items: flex-end;
  margin-bottom: 2vmin;
}

.border-area-left {
  background-color: white;
  width: 50%;
  height: 100%;
  border: 0.2vmin solid #D3D3D3;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0 0 0 20px;
}

.user-name {
  /* color: white; */
  font-size: 2vmin;
}

.border-area-right {
  background-color: white;
  width: 50%;
  height: 100%;
  border: 0.2vmin solid #D3D3D3;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0 0 20px 0;
}

.ceated-at {
  /* color: white; */
  font-size: 2vmin;
}

.text-form-area {
  /* background-color: white; */
  width: calc(100% - 5%);
  height: 20vh;
  /* border: 0.2vmin solid #D3D3D3; */
  display: flex;
  justify-content: center;
  align-items: flex-start;
  text-align: center;
}

.text-form-top {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.image-file {
  font-size: 3vmin;
  font-weight: 900;
  color: white;
  padding: 2vmin 2vmin;
  text-align: center;
  margin-left: 1vmin;
  border-radius: 10px;
  opacity: 1;
  background:#48D1CC;
  border: 1px solid #48D1CC;
  color: #fff;
  box-shadow: 0.6vmin 0.6vmin #5F9EA0;
}

.image-file:active {
  box-shadow: none;
  position: relative;
  top: 0.6vmin;
  left: 0.6vmin;
}

.image-file:hover {
  opacity: 0.8;
  cursor: pointer;
  background-color:#48D1CC;
}

.hidden {
  display: none;
}

.message-image {
  width: 20vmin;
  height: 13vmin;
  border: 0.3vmin solid black;
  padding: 0.7vmin 1.4vmin;
  box-shadow: 0.8vmin 0.8vmin black;
}

.message-image:active {
  box-shadow: none;
  position: relative;
  top: 0.8vmin;
  left: 0.8vmin;
}

.message-image:hover {
  opacity: 0.6;
}

.text-form {
  width: 60vw;
  height: 10vh;
  margin-top: 1vmin;
  overflow: scroll;
  font-size: 2vmin;
  font-weight: 900;
  margin-bottom: 1vmin;
}

.input-form-btn {
  width: 30vw;
  height: 4vh;
  border-radius: 15px;
  font-size: 2.5vmin;
  font-weight: 900;
  opacity: 1;
  background: #ea352d;
  border: 1px solid #ea352d;
  color: #fff;
  box-shadow: 0.6vmin 0.6vmin #8b0000;
}

.input-form-btn:active {
  box-shadow: none;
  position: relative;
  top: 0.6vmin;
  left: 0.6vmin;
}

.input-form-btn:hover {
  opacity: 0.8;
  cursor: pointer;
  background-color:#ea352d;
}

.text-form, .input-form-btn:focus {
	outline:0;
}

/* -------------情報共有ページ------------- */