.form-header-text {
  font-size: 5vmin;
  color: white;
  margin-bottom: 1vmin;
  font-weight: 900;
  font-family: 'ヒラギノ明朝 Pro W3', 'Hiragino Mincho Pro', 'Hiragino Mincho ProN', 'HGS明朝E', 'ＭＳ Ｐ明朝', serif;
  color: #DA8E00;
  background: -webkit-linear-gradient(-45deg, #F7DE05, #DA8E00, #EDAC06, #F7DE05, #ECB802, #DAAF08, #B67B03, #DA8E00, #EDAC06, #F7DE05, #ECB802, #EDAC06);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.user-signup {
  width: 100%;
  height: calc(100vh - 90px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-header-text {
  text-align: center;
  font-size: 40px;
  padding-bottom: 50px;
}

.indispensable {
  background-color: yellow;
  color: red;
  font-weight: 900;
  padding: 2px;
  border-radius: 5px;
  margin-left: 5px;
}

.form-group {
  color: white;
  width: 100%;
  padding-top: 15px;
}

.info-text {
  font-size: 10px;
}

.input-default {
  width: 300px;
  height: 40px;
  margin-top: 20px;
  border-radius: 10px;
}

.input-default:focus {
  outline:0;
}

.register-red-btn {
  margin-top: 60px;
  width: 300px;
  height: 40px;
  background: #ea352d;
  border: 1px solid #ea352d;
  color: #fff;
  font-size: 20px;
  font-weight: 900;
  cursor: pointer;
  border-radius: 10px;
  box-shadow: 0.6vmin 0.6vmin #8b0000;
  opacity: 0.8;
}

.register-red-btn:active {
  box-shadow: none;
  position: relative;
  top: 0.6vmin;
  left: 0.6vmin;
}

.register-red-btn:focus {
	outline:0;
}

.register-red-btn:hover {
  opacity: 1;
  background-color:#ea352d;
  cursor:pointer
}

.login-user-link {
  margin-top: 10px;
}

.login-user{
  position: relative;
  display: inline-block;
  transition: .3s;
  color: white;
  text-decoration: none;
  opacity: 0.5;
}

.login-user::after {
  position: absolute;
  bottom: 0;
  left: 50%;
  content: '';
  width: 0;
  height: 2px;
  background-color: red;
  transition: .3s;
  transform: translateX(-50%);
}

.login-user:hover::after{
  width: 100%;
}

.login-user:hover {
  opacity: 1;
}